<div mat-dialog-content class="details-dialog">
    <div fxLayout="row" class="details-toolbar">
        <div class="details-toolbar-text centeralign">Paper Details</div>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <mat-divider></mat-divider>
    <p class="abstract-text centeralign">{{abstract}}</p>
    <div *ngIf="isAbstractFormed" class="centeralign">
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="downloadDetailsClick()">Download</button>
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="insertAcronymsClick()">Insert Acronyms into Database</button>
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="swapAcronymsClick()">Swap Acronyms</button>
    </div>
</div>
<mat-divider></mat-divider>