.details-dialog {
    width: 800px;
    height: 500px;
}

.title-text {
  white-space:pre-wrap;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-top: 10px;
}

.abstract-text {
    white-space:pre-wrap;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 24px;
    padding-top: 10px;
}

.status-text {
  white-space:pre-wrap;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-top: 10px;
  color: red;
}

.spacer {
    flex: 1 1 auto;
  }

  .centeralign {
    display: flex;
    align-items: center;
    justify-content:center;
  }

  .details-toolbar-text {
    color: #666;
    font-size: 18px;
    padding-top:5px;
    padding-left: 24px;
  }

  .details-toolbar {
    width: 100%;
    display: flex;
    background: #f5f5f5 !important;
    border-bottom: 1px solid #e0e0e0;
  }

  ::ng-deep .mat-dialog-container {
  padding: 0px !important;
}

.download-button {
  margin-left: 10px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #666;
}

.result-list-item {
  margin-bottom: 10px;
  width: auto !important;
  height: auto !important;
}

.mat-list-base {
  padding-bottom: 10px !important;
}

.acronym-text {
  font-size: 15px;
  color: gray;
}

.acronym-item {
  display: flex;
}