<div mat-dialog-content class="details-dialog">
    <div fxLayout="row" class="details-toolbar">
        <div class="details-toolbar-text centeralign">Details</div>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <mat-divider></mat-divider>
    <p class="title-text" *ngIf="isAbstractFormed">Abstract:</p>
    <p class="abstract-text">{{abstractOriginal}}</p>
    <p class="title-text" *ngIf="isAbstractFormed && !isNoAcronyms">Edited abstract:</p>
    <p class="abstract-text " *ngIf="isAbstractFormed && !isNoAcronyms">{{abstractProcessed}}</p>
    <!-- <p class="status-text centeralign">{{status}}</p> -->
    <mat-divider></mat-divider>
    <mat-list class="result-list" *ngIf="isAbstractFormed">
        <div mat-subheader>Acronyms:</div>
        <mat-list-item class="result-list-item" *ngFor="let a of detailsAcronymList">
            <div fxLayout="row" class="acronym-item">
                <div class="acronym-text">{{a.shortform}}:&nbsp;</div>
                <div class="acronym-text">{{a.longform}}</div>
            </div>
        </mat-list-item>
        <mat-list-item *ngIf="isNoAcronyms" class="result-list-item">
            No acronyms found.
        </mat-list-item>
    </mat-list>
    <!-- <div *ngIf="isAbstractFormed" class="centeralign">
        <button mat-stroked-button class="download-button" cdkFocusInitial
            (click)="downloadDetailsClick()">Download</button>
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="insertAbstractClick()">Insert
            Abstract into Database</button>
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="insertAcronymsClick()">Insert Acronyms into Database</button>
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="swapAcronymsClick()">Swap Acronyms</button>
        <button mat-stroked-button class="download-button" cdkFocusInitial (click)="tagAcronymsClick()">Tag Acronyms</button>
    </div> -->
</div>