.normal-button {
    margin-right: 10px !important;
    font-size: 20px;
    color: white
}

.normal-stroked-button {
  margin-right: 10px !important;
  font-size: 20px;
  color:darkslategrey;
}

.centeralign{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .main-input-field {
    width: 42vw !important;
  }

  .left-pane-input-field {
    width: 42vw !important;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .normal-text {
      font-size: 25px;
  }

  .normal-label {
    font-size: 15px;
    color: darkslategrey;
    margin-left: 27vw;
  }

  .database-progress {
    font-size: 15px;
    color: #d4374a;
  }

  .disclaimer-text {
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .title-text {
    cursor: pointer;
    font-size: 20px;
  }

  .journal-title-text {
    font-size: 15px;
    color: gray;
  }

  .authors-text {
    font-size: 15px;
    color: gray;
  }

  .result-list-item {
    margin-bottom: 50px;
    width: 42vw !important;
    height: 100px !important;
  }

  .search-results-header {
    margin-right: 0;
  }

  .search-help-icon {
    cursor: pointer;
    margin-top: 2px;
    font-size: 25px;
  }

  .right-pane {
    margin-left: 20px;
  }

  .normal-header-right-pane {
    font-size: 17px;
    color: darkslategrey;
    margin-left: 20px;
  }
  .normal-label-right-pane {
    font-size: 15px;
    color: darkslategrey;
    margin-left: 20px;
  }

  .normal-label-left-pane {
    font-size: 15px;
    color: darkslategrey;
    margin-left: 5px;
  }

  .right-pane-next {
    margin-top: 20px;
  }

  .filter-form-field {
    width: 50% !important;
    margin-left: 20px;
  }

  .filter-help-icon {
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 25px;
  }

  mat-table {
    width: 100% !important;
  }

  .cuisearch-table-spinner {
    margin: 0px;
    color: #d4374a;
    cursor: pointer;
  }

  .cuisearch-container {
    margin-top: 105px;
    margin-left: 10px;
  }

  .cuisearch-help-container {
    margin-top: 110px;
  }

  .cuisearch-button {
    font-size: 15px;
  }

  .cuisearch-spinner {
    margin: 0 10px;
    color: #d4374a;
  }

  .senseinventory-buttons-container {
    margin-top: 25px;
    margin-left: 25px;
  }

  .senseinventory-button {
    margin-right: 10px;
    color: darkslategray
  }

  .senseinventory-help-icon {
    margin-top: 5px;
    cursor: pointer;
  }

  .table-header-help-icon {
    font-size: 18px;
    margin-left: 3px;
    margin-top: 3px;
    cursor: pointer;
  }

  .mat-column-acronyms {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-sense {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-cui {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .cui-link {
    text-decoration: underline;
    cursor: pointer;
    color: #d4374a;
  }



  .mat-column-frequency {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-measure {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 60% !important;
    width: 60% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-value {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .help-icon-container {
    margin-left: 10px;
    margin-top: 25px;
  }

  .help-icon-container-main {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .help-icon {
    cursor: pointer;
  }

  .pagination-style /deep/ .ngx-pagination .current {
    background:#d4374a;
  }
