<mat-card class="normal-card">
    <mat-card-content class="centeralign">
        <div fxLayout="column">
            <div class="normal-label">Number of Results:</div>

            <mat-form-field class="input-form-field" style="width: 700px !important;" appearance="outline">
                <mat-label style="margin-top: 0px !important;">Number of results</mat-label>
                <input matInput type="text" [(ngModel)]="resultsNumber" class="normal-text">  
            </mat-form-field>

            <div class="normal-label">PubMed query:</div>

            <mat-form-field class="input-form-field" style="width: 700px !important;" appearance="outline" (keyup.enter)="searchButtonClick(query, resultsNumber)">
                <mat-label style="margin-top: 0px !important;">Query</mat-label>
                <input matInput type="text" [(ngModel)]="query" class="normal-text">  
            </mat-form-field>

            <!-- <div *ngIf="isSearched" class="normal-label">Search results:</div> -->

            <div class="database-progress">{{searchProgress}}</div>

            <mat-list *ngIf="isSearched">
                <div mat-subheader>Search results:</div>
                <mat-list-item class="result-list-item" *ngFor="let entry of listOfDisplayResults, let i = index">
                    <!-- <div>{{i + 1}})&nbsp;</div> -->
                    <div fxLayout="column">
                        <div class="title-text" (click)="moreDetailsClick(entry)">{{entry.title}}</div>
                        <div class="journal-title-text">Journal:&nbsp;{{entry.journal}}</div>
                        <div class="authors-text">Authors:&nbsp;{{entry.displayauthors}}</div>
                    </div>
                </mat-list-item>
            </mat-list>

            <mat-paginator *ngIf="isSearched" [length]="paginatorResultsNumber"
              [pageSize]="pageSize"
              [showFirstLastButtons]="true"
              [pageSizeOptions]="[10, 20, 30, 40, 50]"
              [pageIndex]="currentPage"
              (page)="pageEvent = getDisplayResults($event)">
            </mat-paginator>

            <!-- <mat-form-field *ngIf="isSearched" class="input-form-field" style="width: 700px !important;">
                <textarea matInput rows="5" cols="1" type="text" class="normal-text" [(ngModel)]="result" readonly="true"></textarea>
            </mat-form-field> -->




        </div>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions class="centeralign">
        <button mat-raised-button color="primary" (click)="searchButtonClick(query, resultsNumber)" class="normal-button">{{testButtonText}}</button>
        <button mat-stroked-button color="primary" (click)="showDatabaseClick()" class="normal-button">LOAD DATABASE</button>
        <button mat-stroked-button color="primary" (click)="downloadAcronymsClick()" class="normal-button">DOWNLOAD ALL</button>
        <button mat-stroked-button *ngIf="isSearched" color="primary" (click)="showAllAcronymsClick()" class="normal-button">SHOW ACRONYMS</button>
        <!-- <button mat-stroked-button *ngIf="isSearched" color="primary" (click)="insertAllAcronymsClick()" class="normal-button">PROCESS ACRONYMS</button> -->
    </mat-card-actions>

</mat-card>