.normal-button {
    margin-right: 10px !important;
    font-size: 20px;
}

.centeralign{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .normal-text {
      font-size: 25px;
  }

  .normal-label {
    font-size: 15px;
    color: darkslategrey;
    margin-left: -625px;
  }

  .database-progress {
    font-size: 15px;
    color: red;
  }

  .disclaimer-text {
    font-size: 25px;
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .title-text {
    cursor: pointer;
    font-size: 20px;
  }

  .journal-title-text {
    font-size: 15px;
    color: gray;
  }

  .authors-text {
    font-size: 15px;
    color: gray;
  }

  .result-list-item {
    margin-bottom: 50px;
    width: 700px !important;
    height: 80px !important;
  }

  .right-pane {
    margin-left: 20px;
  }

  .normal-label-right-pane {
    font-size: 15px;
    color: darkslategrey;
    margin-left: -600px;
  }

  .filter-form-field {
    width: 50% !important;
    margin-left: 20px;
  }

  mat-table {
    width: 100% !important;
  }

  .mat-column-acronyms {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-sense {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-cui {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .mat-column-frequency {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 20% !important;
    width: 20% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    padding-right: 10px;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
  }

  .help-icon-container {
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .help-icon {
    cursor: pointer;
  }

  .pagination-style /deep/ .ngx-pagination .current {
    background:#673ab7;
  }
