.top-toolbar {
    text-align: center;
}

.centeralign{
    display:flex;
    justify-content:center;
    align-items:center;
  }

  .disclaimer-text {
    font-size: 25px;
  }

  .normal-button {
    margin-right: 10px !important;
    font-size: 20px;
}