<mat-toolbar color="primary" class="top-toolbar">
  <span (click)="resetApp()" style="cursor: pointer;">PubMed API Calls</span>
</mat-toolbar>

<mat-card>
  <mat-card-content *ngIf="!isStarted" class="centeralign">
    <div fxLayout="column">
        <div class="disclaimer-text centeralign">
            Test application for Pub Med APIs.<br><br>
        </div>
        <div class="disclaimer-text centeralign">
            Press START to begin
        </div>
    </div>
  </mat-card-content>
  <mat-card-actions *ngIf="!isStarted" class="centeralign">
        <button mat-raised-button color="primary" (click)="startButtonClick()" class="normal-button">START</button>
  </mat-card-actions>
</mat-card>

<app-testapi *ngIf="isStarted"></app-testapi>

<router-outlet></router-outlet>