<div mat-dialog-content class="details-dialog">
    <div fxLayout="row" class="details-toolbar">
        <div class="details-toolbar-text centeralign">Full List of Acronyms</div>
        <span class="spacer"></span>
        <button mat-icon-button (click)="onNoClick()">
            <mat-icon>close</mat-icon>
        </button>

    </div>
    <mat-list>
        <div mat-subheader>Acronyms:</div>
        <mat-list-item class="result-list-item" *ngFor="let a of allAcronymList">
            <div fxLayout="row" class="acronym-item">
                <div class="acronym-text">{{a.shortform}}:&nbsp;</div>
                <div class="acronym-text">{{a.longform}}</div>
            </div>
        </mat-list-item>
        <mat-list-item *ngIf="isNoAcronyms" class="result-list-item">
            No acronyms in the abstract
        </mat-list-item>
    </mat-list>
    <div class="centeralign">
        <button mat-stroked-button class="download-button" cdkFocusInitial
            (click)="downloadAcronymsClick()">Download</button>
        <!-- <button mat-stroked-button class="download-button" cdkFocusInitial (click)="insertAcronymsClick()">Insert Acronyms into Database</button> -->
    </div>
</div>